@import '../styles/variables';
@import '../styles/mixins';

.cardsContainer {
  width: $card-width-container; // 20em

  @include mobile {
    width: 100%;
    max-width: $card-width-container;
  }
}

.coinsDisplay {
  margin-top: $spacing-md;
  font-size: $font-size-large;

  @include mobile {
    font-size: $font-size-base;
    margin-top: $spacing-sm;
  }
}

.coinIcon {
  max-width: 10%;
  border-radius: $border-radius-lg;
  padding-right: $spacing-sm;

  @include mobile {
    max-width: 15%;
  }
}
